@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital@1&family=Nerko+One&family=Playfair+Display:ital@1&display=swap');
body{
    background: linear-gradient(#3E5C76, #748cabee);
}
.container{
    height: 100vh;
    width: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}
.counter{
    border: 5px solid #1D2D44;
    height: 350px;
    width: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
    flex-direction: column;
    margin: auto;
    background: #f0ebd8de;
}
.counter h1{
    font-size: 2rem;
    color: #0D1321;
    font-family: 'Roboto Condensed', sans-serif;
}
#count{
    font-size: 8rem;
    color: #0D1321;
}